@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "bootstrap.css";

header{
  z-index: 2;
  .conteiner{
    .nav{
      h5{
        font-family: '20 Kopeek', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        color: white;
      }
    }
  }
}
.main_banner{
  height: 100vh;
  .slider{
    .item{
      background-image: url("../img/011.jpg");
      background-size: cover;
      height: 100vh;}
    .item2{
        background-image: url("../img/012.jpg");
        background-size: cover;
        height: 100vh;
      }
    .item3{
        background-image: url("../img/013.jpg");
        background-size: cover;
        height: 100vh;
      }
    .item4{
        background-image: url("../img/014.jpg");
        background-size: cover;
        height: 100vh;
      }
    }
  }

.nav-item{
  &:first-of-type{
  .nav-link {
    border: solid 1px white;
    border-radius: 40px;
  }
  }
}
.description{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 2;
  a{
    background: #FFFFFF;
    border-radius: 40px;

  }
}
.container{
  h3{
    font-family: "20 Kopeek", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
 color: #181818;
  }
  h1{
    font-family: '20 Kopeek Book', sans-serif;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
  }
  h4{
    font-family: '20 Kopeek', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
  }
  p{
    font-family: '20 Kopeek', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
  }
}
.amperia{
  p{
    font-family: '20 Kopeek', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;

  }
  h2{
    font-family: '20 Kopeek Book',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;


  }
  a{
    border: solid 1px black;
    border-radius: 35px;
  }

}
.p-blue{
  background-color: #005cbf;
  align-items: stretch;
  color: white;

  h3 {
    font-family: '20 Kopeek Book', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
    color: #FFFFFF;

  }
  p{
    font-family: '20 Kopeek', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: white;

  }

}
.p-white{
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;

}